body{
    background: #212529!important;
}

.card{ 
    width: 20rem;
    margin: 20px 0px 20px 0px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgb(255, 255, 255, 0.5)!important;
    border: 2px solid black;
}

.card-body{
    padding: 2rem 0 !important;
}

.card-text{ 
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row{
    padding-top: 6rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.5);
}